/* global */
:root {
  --tm-purple: #e4e5ef;
  --tm-purple-solid: #9b7cb7;
  --tm-blue: #edf2f7;
  --tm-base: #f8f9fa;
}

body {
  background-color: var(--tm-base);
}

.tm-purple {
  background-color: var(--tm-purple) !important;
}
.tm-purple-solid {
  background-color: var(--tm-purple-solid) !important;
}

.tm-blue {
  background-color: var(--tm-blue) !important;
}

/* ./global */

/* Used for the radio buttons component */
.radio-buttons {
  background-color: #edf2f7;
}

.form-actions {
  display: flex;
}

.form-actions .btn {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.form-actions.form-actions-justified .btn {
  min-width: 8rem;
}

.form-actions .btn + .btn {
  margin-left: 0.625rem;
}
/*****************  */

.page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chat */

.chat {
  height: calc(100% - 69px);
}

.chat-container {
  height: 100%;
}

/* User Bar *

/* Conversation */

.template-message {
  position: relative;
  margin-bottom: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  z-index: 0;
}

.template-message::-webkit-scrollbar {
  width: 6px;
}

.template-message::-webkit-scrollbar-track {
  background: transparent;
}

.template-message::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.template-message::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.message {
  position: relative;
  color: #000;
  background: #fff;
  border-radius: 0 12px 12px 12px;
  line-height: 18px;
  font-size: 14px;
  max-width: 90%;
  word-wrap: break-word;
}

.message:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 0;
  left: -10px;
  border-style: solid;
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

.message .message-image {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer .powered {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  display: inline-block;
}
.footer .time {
  color: rgba(0, 0, 0, 0.45);
  display: inline-block;
  flex-shrink: 0;
}

/* Base frame */
.preview {
  position: relative;
  width: 360px;
  height: 700px;
  background-color: #fff;
  border-radius: 33px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  overflow: visible;
  margin: 0 auto;
}

/* Volume buttons (left side) */
.preview .preview-volume {
  position: absolute;
  top: 120px;
  left: -9px;
  width: 11px;
  height: 80px;
  z-index: -1;
}

.preview .preview-volume::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.preview .preview-volume::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

/* Lock button (right side) */
.preview .preview-lock {
  position: absolute;
  top: 120px;
  right: -9px;
  width: 11px;
  height: 50px;
  background-color: #fff;
  border-radius: 0 5px 5px 0;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Screen area */
.preview .preview-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 7px;
  background-color: #f9f9f9;
  border-radius: 33px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Screen header */
.preview .preview-screen .preview-header {
  height: 88px;
  background-color: #00a884;
  border-radius: 33px 33px 0 0;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  color: #666;
}

.preview .preview-screen .preview-header .preview-header-content .content-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00000030;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview .preview-screen .preview-header .preview-header-content hr {
  width: 100px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  opacity: 1;
}

/* Screen body */

.preview .preview-screen .preview-body {
  display: flex;
  flex-direction: column;
  height: calc(100% - 88px);
  background-color: #efe7dd;
  border-radius: 0 0 33px 33px;
}

/* Screen footer */
.preview .preview-screen .preview-body .preview-body-footer {
  margin: auto 10px 10px 10px;
  height: 50px;
  background-color: #fff;
  border-radius: 33px;
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #666;
}

/* RTL */
[dir='rtl'] .message {
  border-radius: 5px 0px 5px 5px;
}

[dir='rtl'] .message:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  top: 0;
  right: -10px;
}

[dir='rtl'] .d-rtl-none {
  display: none !important;
}

[dir='ltr'] .d-ltr-none {
  display: none !important;
}

[dir='rtl'] .breadcrumb-item + .breadcrumb-item::before {
  float: right !important;
  padding-right: unset !important;
  padding-left: 8px;
}
